<link rel="stylesheet" href="/css/header.css">
<div class="header">
    <a href="/" class="logo">Issue Tracker Project</a>
    <a href="/project/new" class="header-btn btn"><i class="fa fa-circle-plus"></i> Create Project</a>
</div>